// Place all the styles related to the applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* common */
a {
  text-decoration : none;
  color:#565a65;
  :hover {
    text-decoration : none
  }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* body */
#container {
  background-image: url("body_bg.jpg");
  background-repeat: repeat-y;
  background-size:100%;
  padding-top: 80px;
}
